<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax Testing</title>
</head>
<body>
    <p id="myText"> Some text </p>
    <button type="button" id="ajaxButton">Ajax</button>
    <button type="button" id="jsonButton">JSON</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="public/javascripts/client.js"></script>
</body>
</html>