<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <title>Ajax Lab</title>

</head>

<body>
    <div id="nav-bar">
        <div class="buttons">
            <button id="AJAX-hot-100">Hot 100</button>
            <button id="AJAX-billboard-200">Billboard 200</button>
        </div>
    </div>
    <div class="topper hot-100">
        <div class="header-container">
        </div>
    </div>
    <div class="topper billboard-200">
        <div class="header-container">
        </div>
    </div>
    <div id="contents">
        <!-- <div class="container">
                <div class="rank-box">1</div>
                <div class="album-art"><img
                        src="https://charts-static.billboard.com/img/2019/01/ariana-grande-ypy-53x53.jpg"></div>
                <div class="song-title">7 Rings</div>
                <div class="artist">Ariana Grande</div>
            </div>
            <div id="contents">
                <div class="container">
                    <div class="rank-box">2</div>
                    <div class="album-art"><img src="/public/images/ariana.png"></div>
                    <div class="song-title">7 Rings</div>
                    <div class="artist">Ariana Grande</div>
                </div>
            </div> -->
    </div>
    <!-- <p id="myText"> Some text </p>
    <button type="button" id="ajaxButton">Ajax</button>
    <button type="button" id="jsonButton">JSON</button> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="public/javascripts/client.js"></script>


</body>

</html>